<!DOCTYPE html>
<html>
<head>
    <title>Loan Application</title>
</head>
<body>
    <h1>Loan Application Form</h1>
    <form action="/submitLoanApplication" method="POST">
        <label for="loan_id">Loan ID:</label><br>
        <input type="text" id="loan_id" name="loan_id"><br>

        <label for="no_of_dependents">Number of Dependents:</label><br>
        <input type="number" id="no_of_dependents" name="no_of_dependents"><br>

        <label for="education">Education:</label><br>
        <input type="text" id="education" name="education"><br>

        <label for="self_employed">Self Employed:</label><br>
        <input type="text" id="self_employed" name="self_employed"><br>

        <label for="income_annum">Income Per Annum:</label><br>
        <input type="number" id="income_annum" name="income_annum"><br>

        <label for="loan_amount">Loan Amount:</label><br>
        <input type="number" id="loan_amount" name="loan_amount"><br>

        <label for="loan_term">Loan Term (years):</label><br>
        <input type="number" id="loan_term" name="loan_term"><br>

        <label for="cibil_score">CIBIL Score:</label><br>
        <input type="number" id="cibil_score" name="cibil_score"><br>

        <label for="residential_assets_value">Residential Assets Value:</label><br>
        <input type="number" id="residential_assets_value" name="residential_assets_value"><br>

        <label for="commercial_assets_value">Commercial Assets Value:</label><br>
        <input type="number" id="commercial_assets_value" name="commercial_assets_value"><br>

        <label for="luxury_assets_value">Luxury Assets Value:</label><br>
        <input type="number" id="luxury_assets_value" name="luxury_assets_value"><br>

        <label for="bank_asset_value">Bank Asset Value:</label><br>
        <input type="number" id="bank_asset_value" name="bank_asset_value"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
